.font-text{
	font-family: Courier New;
}

.tm-section-half1{
	width: 397.141px;
	height: 1244px;
}

.font-text1{
	font-family: cursive;
}

.ominext{
	width: 219px;
	height: 141px;
}

.other-img{
	width: 270px;
	height: 270px;
}

